domain.com {
    # Compression
    encode zstd gzip

    # Reverse proxy
    reverse_proxy 127.0.0.1:8080 {
        header_up Host {host}
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-For {remote_host}
        transport http {
            read_timeout  300s
            write_timeout 300s
        }
    }

    #OPTIONS preflight
    @options_site {
        method OPTIONS
        not path /api/*
    }
    respond @options_site 204

    # Block Swagger / OpenAPI
    @blocked {
        path /api/swagger-ui* /api/openapi.json
    }
    respond @blocked 404

    request_body {
        max_size 50MB
    }

    log {
        output file /var/log/caddy/parser.access.log
    }
}

# www
www.domain.com {
    redir https://domain.com{uri}
}
